"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "emmet"
      "tree-view"
    ]
    ignoredNames: [
      "node_modules"
      ".git"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "custom-title":
    template: "<%= projectName %>: <%= relativeFilePath %><% if (projectPath && gitHead) { %> [<%= gitHead %>] <% } %>"
  editor:
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "1a5ce082-c601-72c2-8e46-759b50b7a862"
  "file-types":
    arb: "source.ruby"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "language-babel": {}
  linter:
    showErrorPanel: false
  "linter-eslint": {}
  "linter-ruby": {}
  metrics:
    userId: "78c8a82c813d3b91f3dddcbb52c24d0f3d9a8e34"
  nuclide:
    "nuclide-home":
      showHome: false
  "vim-mode":
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
  whitespace: {}
